{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<h2>New Question</h2>

<form method="post">
    <div class="mb-3">
        <label for="questionTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="questionTitle" aria-describedby="questionTitleHelp"
               placeholder="How to ... ?" required>
    </div>
    <div class="mb-3">
        <label for="questionText" class="form-label">Text</label>
        <textarea class="form-control" id="questionText" rows="6" placeholder="Question description..."
                  required></textarea>
    </div>
    <label for="questionTags" class="form-label">Tags</label>
    <select id="questionTags" class="form-select mb-3" multiple aria-label="multiple select example">
        <option value="perl">perl</option>
        <option value="Python">Python</option>
        <option value="TechnoPark">TechnoPark</option>
        <option value="MySQL">MySQL</option>
        <option value="Django">Django</option>
        <option value="Mail.Ru">Mail.Ru</option>
        <option value="Voloshin">Voloshin</option>
        <option value="Firefox">Firefox</option>
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
