{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="m-3 fs-5">
    <div class="row">
        <div class="col-2 d-flex flex-column">
            <div class="mb-auto"><img src="{% static 'img/logo.svg' %}" alt width="128" class="me-2"></div>
            <div><input class="form-control" type="number" value="{{ question.votes }}"></div>
        </div>
        <div class="col">
            <div class="row">
                <h2>{{ question.title }}</h2>
                <p>{{ question.text }}</p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="badge bg-light text-dark fs-6">
                        Tags:
                        {% for tag in question.tags.all %}
                            {{ tag.html|safe }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

{% for answer in question.answers %}

<div class="card card-body m-4 {% if answer.correct %}border-success{% endif %}">
    <div class="row">
        <div class="col-1 d-flex flex-column">
            <div class="mb-auto"><img src="{% static 'img/logo.svg' %}" alt width="64" class="me-2"></div>
            <div><input class="form-control {% if answer.correct %}border-success{% endif %}" type="number" value="{{ answer.votes }}"></div>
        </div>
        <div class="col">
            <div class="row">
                <p>{{ answer.text }}</p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="answerCorrect" {% if answer.correct %}checked{% endif %}>
                        <label class="form-check-label" for="answerCorrect">
                            Correct!
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}


<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>

            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>


            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li class="page-item">
                <a class="page-link" href="#">99</a></li>

            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
        </ul>
    </nav>
</div>

<hr>

<div class="m-4">
    <form method="post">
        <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                      placeholder="Enter your answer here..."></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>
{% endblock %}
