{% extends 'base/index.html' %}
{% load static %}
{% load bootstrap5 %}


{% block title %}
    Ask! — {{ block.super }}
{% endblock %}

{% block content %}
    <h2>New Question</h2>

    <form action="{% url 'questions:ask' %}" method="POST">
        {% csrf_token %}

        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success w-100 btn-block">Ask!</button>
        {% endbuttons %}
    </form>

{#    <form method="post">#}
{#        <div class="mb-3">#}
{#            <label for="questionTitle" class="form-label">Title</label>#}
{#            <input type="text" class="form-control" id="questionTitle" aria-describedby="questionTitleHelp"#}
{#                   placeholder="How to ... ?" required>#}
{#        </div>#}
{#        <div class="mb-3">#}
{#            <label for="questionText" class="form-label">Text</label>#}
{#            <textarea class="form-control" id="questionText" rows="6" placeholder="Question description..."#}
{#                      required></textarea>#}
{#        </div>#}
{#        <label for="questionTags" class="form-label">Tags</label>#}
{#        <select class="form-select" id="questionTags" multiple>#}
{#            <option selected disabled hidden value="">Choose a tag...</option>#}
{#            {% for tag in tags %}#}
{#                <option value="{{ tag.slug }}">{{ tag.name }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{#        <div class="invalid-feedback">Please select a valid tag.</div>#}
{#        <button type="submit" class="btn btn-primary">Submit</button>#}
{#    </form>#}
{% endblock %}