{% load static %}

{% block navbar %}
    <header class="p-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="{% static 'img/logo.svg' %}" alt width="40" height="32" class="me-2">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-4 mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'index' %}" class="nav-link px-2 text-primary">AskMe</a></li>
                    <li><a href="{% url 'questions:popular' %}" class="nav-link px-2">Hot</a></li>
                    <li><a href="{% url 'questions:latest' %}" class="nav-link px-2">Latest</a></li>
                </ul>

                <a href="{% url 'questions:ask' %}" class="col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
                    <button type="button" class="btn btn-outline-success">ASK!</button>
                </a>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end mb-3 mb-lg-0 me-lg-3">
                    <a href="{% url 'user:login' %}"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
                    <a href="{% url 'user:registration' %}"><button type="button" class="btn btn-primary">Sign-up</button></a>
                </div>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="{% url 'user:settings' %}">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}