{% extends 'base/index.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
    {% if next %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% if user.is_authenticated %}
                Your account doesn't have access to this page. To proceed, please login with an account that has access.
            {% else %}
                Please login to see this page.
            {% endif %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <h2>Log In</h2>

    <div class="m-4">
        <form action="{% url 'user:login' %}" method="POST">
            {% csrf_token %}

            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary w-100 btn-block">Войти</button>
                <a class="btn btn-outline-primary text-center w-100 btn-block" href="{% url 'user:password_reset' %}"
                   role="button">Забыли пароль?</a>
                <input type="hidden" name="next" value="{{ next }}"/>
            {% endbuttons %}
        </form>

        {#    <form method="post">#}
        {#        <div class="mb-3">#}
        {#            <label for="authLogin" class="form-label">Login</label>#}
        {#            <input type="text" class="form-control" id="authLogin" placeholder="Login">#}
        {#        </div>#}
        {#        <div class="mb-3">#}
        {#            <label for="authPassword" class="form-label">Password</label>#}
        {#            <input type="password" class="form-control" id="authPassword" placeholder="Password">#}
        {#        </div>#}
        {#        <button type="submit" class="btn btn-primary">Log in!</button>#}
        {#        <a href="#">#}
        {#            <button class="btn btn-outline-primary">Sign up</button>#}
        {#        </a>#}
        {#    </form>#}
    </div>
{% endblock %}
