{% extends 'base/index.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
    <h2>Registration</h2>

    <div class="m-4">
        <form action="{% url 'user:registration' %}" method="post" class="form">
            {% csrf_token %}

            {% bootstrap_form user_form %}
            {% bootstrap_form password_form %}

            <hr>

            <h2>Additional</h2>
            {% bootstrap_form profile_form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary w-100">Sign Me Up!</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
